<div class="form-container">
	<h4>Edit</h4>
	<form method="POST" action="/pet/{{id}}?_method=PATCH" class="pet-form">
		<p class="input-field">
			<textarea name="pet[description]" cols="30" rows="2" placeholder="Description"></textarea>
		</p>
		<p class='input-field'>
			<input type="submit" value='Submit' class='btn'>
		</p>
	</form>
</div>


