<div class="form-container">
	<h4>New Pet</h4>
	<form action="/pet" method="POST" class="pet-form">
		<p class="input-field">
			<textarea name="pet[name]" cols="30" rows="1" placeholder="Name"></textarea>
		</p>
		<p class="input-field">
			<textarea name="pet[url]" cols="30" rows="2" placeholder="URL"></textarea>
		</p>
		<p class="input-field">
			<textarea name="pet[location]" cols="30" rows="1" placeholder="Location"></textarea>
		</p>
		<p class="input-field">
			<textarea name="pet[age]" cols="30" rows="1" placeholder="Age"></textarea>
		</p>
		<p class="input-field">
			<textarea name="pet[animalType]" cols="30" rows="1" placeholder="Animal Type"></textarea>
		</p>
		<p class="input-field">
			<textarea name="pet[breed]" cols="30" rows="1" placeholder="Breed"></textarea>
		</p>
		<p class="input-field">
			<textarea name="pet[gender]" cols="30" rows="1" placeholder="Gender"></textarea>
		</p>
		<p class="input-field">
			<textarea name="pet[description]" cols="30" rows="10" placeholder="Description"></textarea>
		</p>
		<p class='input-field'>
			<input type="submit" value='Submit' class='btn'>
		</p>
	</form>
</div>