<div class="form-container">
	<h4>New Volunteer Opportunity</h4>
	<form action="/volunteer" method="POST" class="volunteer-form">
		<p class="input-field">
			<textarea name="volunteer[title]" cols="30" rows="1" placeholder="Title"></textarea>
		</p>
		<p class="input-field">
			<textarea name="volunteer[location]" cols="30" rows="1" placeholder="Location"></textarea>
		</p>
		<p class="input-field">
			<textarea name="volunteer[description]" cols="30" rows="10" placeholder="Description"></textarea>
		</p>
		<p class='input-field'>
			<input type="submit" value='Submit' class='btn'>
		</p>
	</form>
</div>